

#img_container{
    margin-top:5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content_head {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2em 0em 0em 2em;
}

.content_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.5em 2.0em 0em 2em;
    font-size:1.3em;
}

.container{
    background: rgba(0, 0, 0, 0.75);

}

#carousel_space{display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:2em;
}

.carousel {
    width: 40em;
}

#quote{

margin-left:50px;
margin-right:50px;
}

.feedback{
    padding-left:30px;
    padding-right:30px;
}

.button{
    padding-left:30px;
    padding-bottom:30px;
}

.learnmorecards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:40px;
    padding:2em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
